<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      a {
        display: block;
        padding: 5px;
      }

      .create {
        margin: 20px;
      }

      .chatContent {
        margin: 10px;
        width: 400px;
        height: 300px;
        padding: 10px;
        border: 2px solid black;
      }

      .textBox {
        margin: 10px;
        display: flex;
        width: 500px;
        justify-content: space-between;
      }

      button {
        width: 50px;
        margin: 10px;
        padding: 5px;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <h1>CHAT</h1>

    <div class="chatContent">
      <h2>채팅..</h2>
      <p>민준 : 삼합회 짱!</p>
      <p>용혁 : 삼합회 최고!</p>
      <p>나라 : k-triad 파이팅...</p>
    </div>
    <div class="textBox">
      <textarea name="" id="" cols="50" rows="3"></textarea
      ><button>전송</button>
    </div>
  </body>
</html>
