<form action="/find" method="post">
  <div class="login-screen">
    <div class="login-body pb-4">
      <a href="/login" class="login-logo">
        <img src="img/logo.svg" alt="Quick Chat" />
      </a>
      <h6 id="comment">
        비밀번호 찾기
        <br>이메일과 전화번호를 입력하세요
      </h6>
      <div class="field-wrapper mb-3">
        <input type="email" name="email" autofocus required />
        <div class="field-placeholder">이메일</div>
      </div>
      <div class="field-wrapper mb-3">
        <input type="text" name="telephone" required />
        <div class="field-placeholder">전화번호</div>
      </div>
      <div class="actions">
        <button type="submit" class="btn btn-primary ml-auto">Submit</button>
      </div>
    </div>
  </div>
</form>


<script>
  if('<%=resultMsg%>' !== ""){
    $('#comment').text("<%=resultMsg%>");
  }
</script>