<form action="/login" method="post">
  <div class="login-screen">
    <div class="login-body">
      <a href="index.html" class="login-logo">
        <img src="img/logo.svg" alt="Quick Chat" />
      </a>
      <h6 id="comment">로그인</h6>
      
      <div class="field-wrapper">
        <input type="email" name="email" value="<%=email%>" autofocus required />
        <div class="field-placeholder" >이메일</div>
      </div>
      <div class="field-wrapper mb-3">
        <input type="password" name="password" required  value="<%=password%>"/>
        <div class="field-placeholder">암호</div>
      </div>
      <div class="actions">
        <a href="/find">암호 찾기</a>
        <button type="submit" class="btn btn-primary">로그인</button>
      </div>
    </div>
    <div class="login-footer">
      <span class="additional-link"
        >No Account?
        <a href="/entry" class="btn btn-secondary">회원가입</a></span
      >
    </div>
  </div>
</form>


<script>
  $('#comment').text('<%=resultMsg%>');
</script>