<form id="password-init">
  <div class="login-screen">
    <div class="login-body pb-4">
      <a href="/login" class="login-logo">
        <img src="img/logo.svg" alt="Quick Chat" />
      </a>
      <h6 id="comment">
        암호 초기화
        <br>새로운 암호를 입력하세요
      </h6>
      <div class="field-wrapper mb-3">
        <input type="password" id="password" name="password" autofocus required />
        <div class="field-placeholder">암호</div>
      </div>
      <div class="field-wrapper mb-3">
        <input type="password" id="confirmPassword" name="confirmPassword" required />
        <div class="field-placeholder">암호 재확인</div>
      </div>
      <input type="hidden" id="token" name="token" value="<%=token%>">
      <div class="actions">
        <button type="submit" class="btn btn-primary ml-auto">암호 변경</button>
      </div>
    </div>
  </div>
</form>
<hidden></hidden>


<script>
  $('#password-init').submit(function(){
    if($('#password').val() !== $('#confirmPassword').val()){  //암호, 암호 재확인 값 다름
      alert('암호와 암호 재확인 값이 다릅니다.');
      $('#confirmPassword').focus();

    }else{

      // 입력 값 json객체 로 추출
      var changePassword = {
        "password":$('#password').val(),
        "token":$('#token').val()
      }

      window.confirm('정말 암호를 바꾸시겠습니까?');

      
      $.ajax({
        type:"POST",
        url:`/password-init?token=${$('#token').val()}`,  // 토큰을 쿼리스트링으로 보냄
        dataType:"json",
        data:changePassword,
        success:function(result){
          if(result.code == 200){  // 정상 진행
            window.location.href = 'login1.html';
          }else if(result.code == 400){  // 프론트엔드 오류
            alert(result.msg);
          }else if(result.code == 500){  // 서버 오류
            alert(result.msg);
          }
        }
      })
    }

    return false;
  })
</script>