<form id="password-init">
  <div class="login-screen">
    <div class="login-body pb-4">
      <a href="/login" class="login-logo">
        <img src="img/logo.svg" alt="Quick Chat" />
      </a>
      <h6 id="comment">
        암호 초기화
        <br>
      </h6>
      <div class="field-wrapper mb-3">
        <input type="password" id="password" name="password" autofocus required />
        <div class="field-placeholder">암호</div>
      </div>
      <div class="field-wrapper mb-3">
        <input type="password" id="confirmPassword" name="confirmPassword" required />
        <div class="field-placeholder">암호 재확인</div>
      </div>
      <div class="actions">
        <button type="submit" class="btn btn-primary ml-auto">암호 변경</button>
      </div>
    </div>
  </div>
</form>
<hidden><%=token%></hidden>


<script>
  $('#password-init').submit(function(){
    if($('#password').val() !== $('#confirmPassword').val()){
      alert('암호와 암호 재확인 값이 다릅니다.');

      return false;
    }else{
      // 로컬 스토리지에 토큰 추출하기
      var userToken = localStorage.getItem("resetpasswordtoken");

      // 입력 값 json객체 로 추출
      var newPassword = {
        "password":$('#password').val()
      }

      $.ajax({
        type:"POST",
        url:`/password-init?token=${userToken}`,
        dataType:"json",
        data:newPassword,
        success:function(result){
          if(result.code == 200){
            window.location.href = 'login1.html';
          }else if(result.code == 400){
            alert(result.msg);
          }else if(result.code == 500){
            alert(result.msg);
          }
        }
      })
      return false;
    }

    return false;
  })
</script>